<div class="center jumbotron">
    <h1>About<h1>

    <h2>
        This Website was developed as a side project to provide users a platform to Search for desired Sport Clubs in Germany, region: Berlin.
        It is a project in progress and will contain other regions appart from Berlin in the near Future.
    </h2>
</div>
