<%= provide(:title, 'Home') %>

<div class="center jumbotron">
    <h1>SportClub App</h1>

	<% if logged_in? %>
		<h2>
			Were loged in bois!
		</h2>
	<% else %>
	    <h2>
	        This is the home page for the SportClub application.
	    </h2>


	    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
